// Breakpoints
$breakpoint1: rem(480px);
$breakpoint2: rem(768px);
$breakpoint3: rem(1000px);
$breakpoint4: rem(1920px);

// Sizes
$wrapper-width: rem(1350px);
$section-gap: rem(40px);


// Colors
$white-400: #FFF;
$white-100: #F8F8F8;
$black-600: #0E0D0A;
$black-300: #454645;
$green-400: #01AA73;

// Prefix
$prefix: 'aquila-'; 